<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static\style.css" rel="stylesheet">
        <title>Project Shcok ME</title>
    </head>
    <body>
        <div style="background-color: #FFF9CA;">
            <h2 style="height: auto; background-color: transparent;">Woah what you were expecting?</h2>
            <br>
            <div class="audio-container">
                <audio controls>
                    <source src="static\kept you waiting.wav" type="audio/wav">
                </audio>
            </div>
            
        </div>
    </body>
</html>